textarea{
  margin: 2%;
  resize: none;
  height: 100px;
  width: 96%;
}
.note-title{
  padding-top: 10px;
  padding-left: 10px;
}
.update-button{
  text-align: center;
}
.topics{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom:1px solid black;
  padding-left: 3px;
}
.topic-header{
  padding-left: 3px;
  border-bottom: 1px solid black;
}
.search-form{
  display:inline;
}
.delete{
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
.application{
  border:1px solid black;
  padding: 1%;
}
.topics-area{
  vertical-align: top;
  width:10%;
  border: 1px solid black;
  display:inline-block;
  height:500px;
}
.container{
  margin:0 auto;
  width:80%;
}
.note-area {
  display:inline-block;
  width:45%;
  border: 1px solid black;
  height:500px;
}
.note-view{
  border: 1px solid black;
  vertical-align: top;
  width:45%;
  height: 500px;
  display: inline-block;
}
.edit,.delete{
  border-left: 1px solid black;
  float: right;
  padding-left: 15px;
  padding-right:15px;
}
.note{
  border-top: 1px solid black;
  padding: 5px 0;
  width:100%;
}
.add-note{
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0;
}
